# Virtual environment
.venv/
venv/

# Environment variables
.env

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#audio files
audio_files/*
!audio_files/.gitkeep